*{
  font-family: IRANSans, serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-tail {
  height: 20vmin;
}
.App-link {
  color: #09d3ac;
}

.hanoi-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hanoi-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  padding: 2vw;
}
.hanoi-block {
  height: 2vh;
  margin: 2px;
  background-color: #0b3148;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
}
.hanoi-bottom {
  height: 20px;
  margin: 1vw;
  background-color: #ded1c6;
  border-width: 1px;
  width: 25vw;
}
.hanoi-desc {
  font-size: xx-large;
}

.sol-highlight {
  background-color: lightblue;
  font-weight: bold;
}

.sol-normal {

}


/*s*/
.cards-list-c {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: antiquewhite;
  height: 100vh;
}
.a-c{
  text-decoration: none!important;
  color: unset!important;
  display: block;
}

.card-c {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgb(0 0 0 / 5%), -5px -5px 30px 7px rgb(0 0 0 / 5%);
  cursor: pointer;
  transition: 0.4s;
}

.card-c .card_image-c {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card-c .card_image-c img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card-c .card_title-c {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card-c:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
  -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white-c {
  color: white;
}

.title-black-c {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list-c {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/